mixin form(survey)
  form#survey-form(data-survey=JSON.stringify(survey) data-rooms=JSON.stringify(rooms))
    .row
      .survey-title.columns.medium-8
        label Survey title
          input(type='text' v-model.trim="survey.title" placeholder="Enter a title for your survey" required=true)

      .survey-room.columns.medium-4
        label Survey room
        input.rooms(type="text" :value="survey.room.title" required=true @awesomplete-select="roomSelected" @blur="roomSelectionCancel" ref="roomsInput" placeholder="Enter room name")

    .survey-description
      label Description
      textarea(v-model.trim="survey.description" placeholder="Describe your survey")

    h4 Questions
    ul.questions
      li.question(v-for="question in survey.questions")
        .row
          .columns.medium-7
            label Question:
            input(type='text' v-model.trim="question.text" placeholder="Enter your question" required=true)

          .columns.medium-3
            label Type:
            select(v-model="question.type")
              option(v-for="type in questionTypes") {{type}}

          .columns.medium-2
            label &nbsp;
            button(type="button" class="alert small button remove-button float-right" @click="remove(survey.questions, question)") &#8722; remove

        .multi-options(v-if="question.type === 'multi'")
          ol.choices
            li.choice(v-for="choice in question.choices")
              .row
                .question-choice.columns.medium-9
                  input(type='text' v-model.trim="choice.text" placeholder="Enter answer option" required=true)
                div.columns.medium-3
                  button(type="button" class="alert tiny button float-right" @click="remove(question.choices, choice)") &#8722; remove
          button(type="button" class="tiny secondary button" @click="addChoice(question)") &#43; choice

    div
      button(type="button" class="small secondary button" @click="addQuestion") &#43; question

    br

    button(type="button" class="secondary button" @click="saveDraft" :disabled="isConducting") Save Draft
    a.button.expanded(@click="conduct" :disabled="isConducting")
      template(v-if="!isConducting")
        | Conduct Survey
      template(v-else=true)
        | Conducting...



  link(href="/bower/awesomplete/awesomplete.css" rel="stylesheet")
  script(src='/bower/awesomplete/awesomplete.min.js')
  script(src='/static/javascripts/surveys/form.js')
