extends layout.pug

block content

  nav(aria-label="You are here:" role="navigation")
    ul.breadcrumbs
      li
        span Dashboard

  a.button.new(href="/surveys/new") + New Survey

  .content
    - var activeSurveys = surveys.active || []
    if activeSurveys.length
      .surveys__header Active Surveys
      ul.surveys__title
        each survey in activeSurveys
          li(link-href=`/surveys/${survey.id}`)
            a.title= survey.data.title

    - var draftSurveys = surveys.draft || []
    if draftSurveys.length
      .surveys__header Draft Surveys
      ul.surveys__title
        each survey in draftSurveys
          li(link-href=`/surveys/${survey.id}/edit`)
            a.title= survey.data.title

    - var completedSurveys = surveys.complete || []
    if completedSurveys.length
      .surveys__header Completed Surveys
      ul.surveys__title
        each survey in completedSurveys
          li(link-href=`/surveys/${survey.id}`)
            a.title= survey.data.title