extends layout.pug

mixin list(surveys = [], title, urlFor)
  if surveys.length
    .surveys__header= title
    ul.surveys__title
      each survey in surveys
        li(id=`survey-${survey.id}`)
          .actions
            a.copy-survey(href=`/surveys/new?copy=${survey.id}`)  copy
            |  |
            a.delete-survey(href=`/surveys/${survey.id}` data-delete=`#survey-${survey.id}`)  delete
          a.title(href=urlFor(survey))= survey.data.title

block content

  nav(aria-label='You are here:' role='navigation')
    ul.breadcrumbs
      li: span Dashboard

  a.button.new(href='/surveys/new') + New Survey

  .content
    +list(surveys.active,   'Active Surveys',    ({id}) => `/surveys/${id}`)
    +list(surveys.draft,    'Draft Surveys',     ({id}) => `/surveys/${id}/edit`)
    +list(surveys.complete, 'Completed Surveys', ({id}) => `/surveys/${id}`)
