extends layout.pug

block content

  #survey(
    data-id=survey.id
    data-survey-url=`/surveys/${survey.id}/survey.json`
    data-subscription-token=survey.token
  )

    nav(aria-label="You are here:" role="navigation")
      ul.breadcrumbs
        li: a(href="/") Dashboard
        li {{survey.title}}

    h1 {{survey.title}}

    .content
      p {{survey.description}}

      .state
        .state-desc Survey is {{survey.state}}
        button.button.small.secondary.survey-end(v-if="survey.state === 'active'" @click='endSurvey' :disabled='isEndingSurvey')
          template(v-if='isEndingSurvey') Ending…
          template(v-else) End Survey

      .export-links
        | Export as
        a(target='_blank' :href='`/surveys/${id}/${survey.title}.csv?download=1`') CSV
        a(target='_blank' :href='`/surveys/${id}/${survey.title}.json?download=1`') JSON

      form.row(@submit.prevent="shareResults")
        .columns.medium-6
          label
            | Share results with:
            room-selector(v-model="shareWithRoom" source="/rooms" required)
        .columns.medium-6
          label &nbsp;
          button.button.small.secondary.share(:disabled="sharingStatus === 'sharing'")
            | Share
            span.share-status
              template(v-if="sharingStatus === 'sharing'")
                |  ⋯
              template(v-if="sharingStatus === 'shared'")
                |  ✔

      .questions(v-for="question, index in survey.questions")
        .question__title {{index+1}}. {{question.text}}

        .responses(v-if="question.type === 'multi'")
          .row
            .columns.medium-6: .question__answers
              .question__subtitle
                | Results
                em  ({{question.responses.length}} responses)
              .question__choice(v-for="[choice, _, choiceResponses] in question.responsesByChoice")
                | {{choice}}
                span.label  {{choiceResponses.length}}
                .question__person(v-for="surveyTakerEmail in choiceResponses")
                  | {{survey.surveyTakers[surveyTakerEmail].name}}
            .columns.medium-6
              .question__chart(v-if="question.responsesByChoice.length")
                pie-chart(:data="jsonify(question.responsesByChoice)" legend="bottom" donut="true")

        .responses(v-if="question.type === 'text'")
          .row: .columns.medium-12: .question__answers
            .question__subtitle
              | Results
              em  ({{question.responses.length}} responses)
              .question__choice(v-for="{ text, surveyTakerEmail } in question.responses")
                blockquote {{text}}
                  footer.question__person {{survey.surveyTakers[surveyTakerEmail].name}}



  script(src='/bower/chart.js/dist/Chart.bundle.min.js')
  script(src='/bower/chartkick/chartkick.js')
  script(src='/bower/vue-chartkick/dist/vue-chartkick.min.js')

  script(src='/bower/socket.io-client/dist/socket.io.slim.js')
  script(src='/static/javascripts/surveys/show.js')

  link(href="/bower/awesomplete/awesomplete.css" rel="stylesheet")
  script(src='/bower/awesomplete/awesomplete.min.js')
  script(src='/static/javascripts/roomSelector.js')
